<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Curso Básico de Backbone.js</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/screen.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" src="/css/bootflat.css">

</head>
<body>
<div id = "books">

</div>
<ul id="book-list">
</ul>
<script type="text/template" id="book-template">
			

				<li> <%= title %> </li>
				<li> <%= author %> </li>
				<li> <%= pages %> </li>
			

		</script>
			<script src="/js/vendor/bootstrap.min.js"></script>

			<script src="/js/vendor/jquery-1.11.1.js"></script>
			<script src="/js/vendor/underscore-min.js"></script>
			<script src="/js/vendor/backbone-min.js"></script>

			
			<script src="/js/backbone/views/uploader.js"></script>
	
	
	
</body>

		
			<script src="/js/vendor/bootstrap.min.js"></script>

			<script src="/js/vendor/jquery-1.11.1.js"></script>
			<script src="/js/vendor/underscore-min.js"></script>
			<script src="/js/vendor/backbone-min.js"></script>

			
			<script src="/js/backbone/views/uploader.js"></script>

</html>